@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerHero{
    opacity: 1;
    bottom: 0;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    /* background: url('/sell.png'); */
       background-position: center;
    border-radius: 8px; 
      background-repeat: no-repeat;
}

@keyframes fade {
  0%, 100% { opacity: .5; }
  50% { opacity: 0.3; }
}

.bggradient:before{
 /* background: radial-gradient(circle, rgba(219,222,236,1) 0%, rgba(112,135,136,1) 100%); */
      content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse 50% 50% at center,transparent,#222236);
    z-index: 1;
    border-radius: inherit;
    border-radius: 2px;
}

.bannerHero2{
    opacity: 1;
    bottom: 0;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    /* background: url('/buy.png'); */
      background-position: center;
    border-radius: 8px; 
    background-repeat: no-repeat;
}


.bannerHero3{
    opacity: 1;
    bottom: 0;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    /* background: url('/creator.png'); */
       background-position: center;
    border-radius: 8px; 
      background-repeat: no-repeat;
}

.contect{
      border-radius: inherit;
}
 .bannerHero:before, .bannerHero2:before, .bannerHero3:before, .contect:before{
     content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse 80% 50% at center,transparent,#3d3d44);
    z-index: 1;
    border-radius: inherit;
    border-radius: 8px;
}

.mnhimg{
   opacity: 1;
    bottom: 0;
    z-index: 1;
    left: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    background: url('/bg.png');
      background-position: center;
    border-radius: 8px; 
    background-repeat: no-repeat;
}